<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form_actions">
        <a href="{{ path('routing_index') }}" title="{% trans %}Routing manager{% endtrans %}">
            <span class="icon-16 back"></span>
            <span>{% trans %}Routing Manager{% endtrans %}</span>
        </a>
        <a href="#" onclick="return jQuery('form').submit();">
            <span class="icon-16 save"></span>
            <span>{% trans %}Save{% endtrans %}</span>
        </a>
    </div>
</form>
