<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="form_actions">
        <input type="submit" value="{% trans %}Save{% endtrans %}" />
    </div>
</form>
<a href="{{ path('routing_index') }}" title="{% trans %}Routing manager{% endtrans %}">
    {% trans %}Go Routing Manager{% endtrans %}
</a>
