html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, FreeSans, sans-serif;
    font-size: .8em;
    line-height: 1.4;
    color: #000;
    background: #FFF;
}

h1, h2, h3, h4 {
    margin: 1em 0 .5em 0;
    line-height: 1.2;
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

ul, ol {
    margin: .75em 0 .75em 32px;
    padding: 0;
}

p {
    margin: .25em 0;
}

a {
    text-decoration: underline;
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: #000;
}

form, fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

input, button, select {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

#header, #content {
    width: 80%;
    margin: 0 auto;
}

#content {
    border: 1px solid #bbb;
    color: #2f2f2f;
    background-color: #f7f7f7;

    background-image: -moz-linear-gradient(-90deg, #e4e4e4, #FFFFFF);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e4e4e4), to(#FFFFFF));
    background-image: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#e4e4e4, endColorstr=#FFFFFF, GradientType=0);
    zoom: 1;

    background-image: linear-gradient(-90deg, #e4e4e4, #FFFFFF);
}
