form label {
    font-weight: bold;
    float: left;
    width: 15%;
}

form > div > div, form div.collection .field {
    overflow: hidden;
    padding: 5px;
}

form input {
    width: 80%;
}

form select {
    width: 81%;
}

form div.collection .field {
    border: 1px solid #bbb;
    margin: 5px 0;
}

form div.collection, form div.collection .description {
    float: left;
    width: 85%;
    min-height: 30px;
}

form div.collection .actions {
    float: right;
}

form .add_collection {
    float: right;
    text-decoration: underline;
}

form div.date {
    overflow: hidden;
}

form div.date div {
    float: left;
}

form div.date select {
    width: auto;
}

form .form_actions {
    padding: 5px 20px;
    overflow: hidden;
}

form .form_actions a {
    float: left;
    padding: 0 5px;
}
