form label {
    font-weight: bold;
    float: left;
    width: 15%;
}

form > div > div, form div.collection .field {
    overflow: hidden;
    padding: 5px;
}

form input {
    width: 80%;
}

form select {
    width: 81%;
}

form div.collection .field {
    border: 1px solid #bbb;
    margin: 5px 0;
}

form div.collection, form div.collection .description {
    float: left;
    width: 85%;
    min-height: 30px;
}

form div.collection .actions {
    float: right;
}

form .icon {
    background: url(/bundles/genemudoctrineextra/images/icons-16.png);
    border: none;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    text-indent: 9999px;
    overflow: hidden;
    margin: 0 5px;
}

form .icon.add {
    background-position: 0 0;
}

form .icon.back {
    background-position: -16px -16px;
}

form .icon.save {
    background-position: 0 -16px;
}

form .icon.delete {
    background-position: -16px 0;
}

form .add_collection {
    float: right;
    text-decoration: underline;
}

form .form_actions {
    padding: 5px 20px;
    overflow: hidden;
}

form .form_actions a {
    float: left;
    padding: 0 5px;
}
