#content .routings {
    list-style: none;
    margin: 0;
}

#content .routings li {
    padding: 0 5px;
    background-color: #F7F7F7;
    overflow: hidden;
}

#content .routings li.even {
    background-color: #FFFFFF;
}

#content .routings .description {
    float: left;
    width: 75%;
}

#content .routings .index {
    font-size: 1.1em;
}

#content .routings .action {
    float: right;
    width: 25%;
    padding-top: 20px;
}

#content .routings .description .name {
    padding-left: 15px;
}

#content .routings .description .name .option {
    width: 15%;
    float: left;
}

#content .actions {
    padding: 10px 25px;
}
